# Web Framework & Server
Flask==2.3.3
gunicorn

# AI & NLP
transformers==4.35.2
torch
sentencepiece # Required for T5 models
protobuf

# Web Scraping
requests==2.31.0
trafilatura==1.6.1

# Utilities
beautifulsoup4
lxml
